.detailView {
    padding: 20px 50px;
    display: flex;
    justify-content: space-evenly;
}

.breadcrumSection {
    display: flex;
    margin-bottom: 24px;
}

.mainImage {
    width: 500px;
    border-radius: 25px;
}

.secondaryImagesSection {
    display: flex;
    margin-top: 24px;
}

.secondaryImages {
    width: 110px;
    margin-right: 10px;
}

.productName {
    font-size: 38px;
    color: #58C1CE;
    font-weight: 700;
}

.productDescription {
    font-weight: 300;
    color: #717B8A;
    font-size: 16px;
}

.productData {
    background-color: #F9F9F9;
    height: 440px;
    width: 330px;
    padding: 24px;
}

.priceSection {
    display: flex;
    align-items: start;
}

.categoriesText {
    font-weight: 600;
    color: #717B8A;
    margin-top: 10px;
}

.inputBox {
    height: 50px;
    border: 1px solid #DDE3EB;
    border-radius: 5px;
    display: flex;
    justify-content: end;
    padding: 8px;
    align-items: center;
}

.leaflet-container {
    width: 60vw;
    height: 300px;
    z-index: 0;
    margin: 20px 80px;

}


@media (max-width: 900px) {
    .detailView {
        flex-direction: column;
    }

    .productName {
        font-size: 24px;
    }
}